# Force language detection to VHDL
*.vhd linguist-language=VHDL

# Treat Vivado-specific XML/project files as generated or documentation
# This hides them from the language statistics bar
*.xpr linguist-generated
*.xml linguist-generated
**/*.srcs/** linguist-documentation
**/*.ip_user_files/** linguist-documentation
